@import './animations.scss';

h1, h2, h3, h4, h5 {
  color: var(--color-heading);
  font-family: Rosina, 'Segoe UI';
  line-height: normal;
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
}

a,
.magenta {
  text-decoration: none;
  color: var(--color-magenta);
  transition: 0.4s;
}

.green {
  color: var(--color-green);
}

.gradient-text {
  color: transparent;
  font-weight: 1000;
  background-image: linear-gradient(60deg, var(--color-magenta) 0%, var(--color-sand) 100%);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient-bg 10s ease infinite;
}

button {
  width: fit-content;
}

.q-btn:hover {
  @extend .color-pulse-anim;
}