@import './animations.scss';

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: fixed;
  right: 20px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-accent-magenta);
}

.swiper-btn {
  cursor: pointer;
  @extend .short-transition;
  transform: scale(90%);

  svg {
    @extend .short-transition;
    fill: var(--color-heading);
  }

  &:hover {
    @extend .short-transition;
    transform: scale(100%);

    svg {
      @extend .color-pulse-anim;
    }
  }

}
